<!-- Facebook open graph tags -->
<meta property="og:url"                content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description"        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:image"              content="{% if page.header-img %}{{ site.url }}{{ site.baseurl }}/{{ page.header-img }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ site.header-img }}{% endif %}" />
